<%- include("partials/header.ejs"); -%>
<h1>
The Temp In the <%=location%> is <%=temp%> degree celsius</h1>

The description is <%=weatherDescription%>
<p>
<img src=<%=icon_image%> alt="No image"></p>

<%- include("partials/footer.ejs"); -%>